body{
    color:#000000;
    background: #290033;
}
aside{  /* стиль боковой панели навигации */
    float: left; /* позиция - слева */
    background: #290033;/* цвет фона*/
    width: 25%; /*ширина в % от экрана, можно указать в px */
    padding: 1%; /*отступы */
    height: 100vh; /* высота боковой панели - 100% от видимой высоты экрана*/
    color: #8A2BE2; /* цвет текста */
    border-right: 5px solid #290033; /* стиль границы панели */
}
a{
    color:#8A2BE2;
}

aside img{
    width: auto;
    height: 50px;
    float: left;
    border-radius:5%;
}

span.logo{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    position:relative;
    top: -5px;
}

aside ul li:hover, aside ul li a:hover{
    color: #f0b3ff;
    background-color: #f0b3ff;
    border-radius:3px;
    transform: scale(0.975);
    transition: 0.15s;
}

body .content{
    float: left;
    color: black;
    margin-top: 25px;
    text-align: center;
    width: 75%;
}

.alert-info{
    float:left;
    clear:both;
    width:500px;
    margin: 10px 26%;
    text-align:center;
}

h1 {
    color:#290033;
}

 fieldset.field {
 border: 1px solid #290033;
 width: 100%;
 background: #8A2BE2;
 padding: 3px
 }

 fieldset.field legend {
 background: #290033;
 padding: 6px;
 font-weight: bold;
 color: #FFFFFF
 }

 fieldset.field label {
 color: #FFFFFF
 }

 fieldset.field input {
 font-weight: normal;
 color: #222222
 }


.img_wrapper {
    height: 80vh;
    width: 100%;
    position: relative;

}
.img_wrapper  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
 }


body .single_news{
    margin-top:15px;
    float: left;
    width: 90%;
}
.contact_form{
    margin: 10px 20%;
}
.content_center{
    margin-top:15px;
    float: left;
    width: 90%;
}
.alert-info{
    float:left;
    clear:both;
    width:500px;
    margin: 10px 26%;
    text-align:center;
}

.link-active {
  color: #0D6EFD;
}

.d-lg-block{
    float: inline-start;
    white-space:nowrap;
    border-right: none;
    overflow-x:auto;
}
.menu-icon{
    float: inline-start;
    padding: 5px 10px 0 0;
    border-right: 5px;
}

/* Если размер экрана >=1340px то текст не переносится по словам */
@media (min-width: 1340px) {
  .responsive-title {
    white-space:nowrap;
  }
}
/* Если размер экрана <1340px то текст переносится по словам - тег white-space */
@media (max-width: 1339.98px) {
   .responsive-title{
    white-space:normal;
  }
}
// подробнее про hover-эффекты: https://www.w3schools.com/cssref/sel_hover.php


#header {
    background: #212529;
    color: white;
}

div.breadcrumbs {
    background: #0D6EFD;
}
.module caption{
background: #0D6EFD;}

.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}


.media img{
    width: auto;
    height: 50px;
    float: left;
    border-radius:5%;
}