{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Главная страница {% endblock %}

{% block content %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(function() {
    $("#search_input").autocomplete({
      source: "search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>

<div class="content_center">
    <div class="row">
        {% for article in articles %}
            <div class="single_news">
            <div class="p-4 p-md-5">
                <div class="row">
                    <div class="col-md-{% if article.image_set.all %}6{% else %}12 {% endif %} px-0">
                        <h1 class="display-4 fst-italic"> {{ article.title }}</h1>
                        <p class="lead my-3">{{ article.anouncement }}</p>
                        <p class="lead mb-0"><a href="{% url 'news_detail' article.pk %}" class="fw-bold text-dark">Открыть новость
                        </a>
                        </p>
                        <a class="btn btn-outline-secondary" href="{% url 'favorites' article.pk %}"><i class="fa fa-bookmark"> Избранное </i></a>
                    </div>
                    {% if article.image_set.all %}
                    <div class="col-md-6 px-0">
                        <img src="{{ article.image_set.all.0.image.url }}"
                             style="width:100%; height:auto; border-radius:5px;">
                        <br>
                        <br>
                        <img src="{{ article.image_set.all.1.image.url }}"
                             style="width:100%; height:auto; border-radius:5px;">
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock %}
