<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}{% endblock %}

</head>
<body>
{% block sidebar %} {% include 'main/sidebar.html' %} {% endblock %}
<div class="container" >
    <div class="row">
        <h1> CatNews - все самое интересное из мира котиков </h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-10">
    {% block content %}
        <div class="row">
            <div class="single_news">
                <div class="p-4 p-md-5 text-white rounded bg-light">
                    <div class="col-md-6 px-0">
                        <h1 class="display-4 fst-italic">Главная котоновость этой недели:</h1>
                        <p class="lead my-3">.......</p>
                        <p class="lead mb-0"><a href="#" class="text-muted fw-bold">Полный текст...</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
</div>
<div class="row">
    {% block foot %}
    {% endblock %}
</div>


</body>
</html>