{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Главная страница {% endblock %}

{% block content %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(function() {
    $("#search_input").autocomplete({
      source: "search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>


<div class="content_center">
    <div class="row">
        <div class="text-center">
            <h2> В CatNews собрались самые мудрые котики, чтобы вы всегда получали самые актуальные котоновости. </h2>
            <br>
            <h3> Главные котики: </h3>
            <img src="{% static 'main' %}/img/cat1.jpg" width="20%">
            <img src="{% static 'main' %}/img/cat2.jpg" width="20%">
        </div>
    </div>
</div>
{% endblock %}