{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}  Новости нашего города - главная {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<div class="single_news" >
    <div class="bg bg-opacity-10 p-4 px-md-5 border rounded" >
        <div class="p-4 p-md-5 text-white rounded" style="background:#4B0082;">
            <h2 class="display-6 fst-italic text-center"> Последняя новость в мире котиков </h2>
        </div>
        <br>
        <div class="col-md-auto">
            <h1 class="display-6 fst-italic text-indigo fw-bold text-center"> {{ article.title }}</h1>
        </div>
        <br>
        <div class="container">
        <div class="col-4"></div>
            <div class="row justify-content-md-center">
        <div class="col-5">
                {% if article.image_set.all %}
                <div id="carouselControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox" style=" width:auto; height: 300px !important;">
                        {% for image in article.image_set.all %}
                        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                            <img class="d-block p-4 img-responsive img-fluid rounded" src="{{ image.image.url }}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% endif%}
            </div>
            </div>
        </div>
        <br>
        <div class="container text-white rounded" style="background:#4B0082;">
            <div class="row">
                <div class="col-8">
                    <br>
                    <h6>   Автор: {{ article.author }} </h6>
                    <h6>   Дата публикации: {{ article.date }} </h6>
                    <br>
                </div>
                <div class="col-4">
                    <br>
                    <button class="btn btn-outline-secondary"> <a href="{{ article.get_absolute_url }}" ><i class="fa fa-paw text-white"> Открыть котоновость </i></a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
