{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<style>
    aside {
    background-image: url({% static 'main/img/Фон.png' %});
    background-repeat: no-repeat;
    background-size: cover;
    }
    .one {
    background: #290033;
    }
</style>


<aside>
    <div class="one">
        <div class="d-flex flex-column flex-shrink-0 p-3">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img class="bi me-3" src="{% static 'main' %}/img/1.png"  height="10">
                <span class="fs-1 d-none d-lg-block responsive-title"> CatNews </span>
            </a>
            <div class="d-none d-lg-block"> <h7> Главные новости котовселенной </h7> </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" {% if request.resolver_match.view_name  == 'home' %} class="link-active" aria-current="page" {% endif %}>
                    <div class="d-none d-lg-block"> <i class="fa fa-paw"></i>  Главная </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'news_list' %}" {% if request.resolver_match.view_name  == 'news_list' %} class="link-active" aria-current="page" {% endif %}>
                    <div class="d-none d-lg-block"> <i class="fa fa-paw"></i>  Все новости</div>
                    </a>
                </li>

                <li>
                    <a href="{% url 'cats' %}" {% if request.resolver_match.view_name  == 'cats' %} class="link-active" aria-current="page" {% endif %}>
                    <div class="d-none d-lg-block"> <i class="fa fa-paw"></i>  О нас </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/" {% if request.path  == '/admin/' %} class= "link-active" aria-current="page" {% endif %}>
                    <div class="d-none d-lg-block"> <i class="fa fa-paw"></i>  Котоадмин </div>
                    </a>
                </li>
            </ul>
            <hr>

            {% if request.user.id %}  <!-- проверяем аутентификацию-->
            <div class="dropdown flex-column mb-auto" >
                <button class="btn btn-primary dropdown-toggle col-12" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background:#212529;">
                    <img src="{{ request.user.account.account_image.url }}" alt="" width="25" height="25" class="rounded-circle me-2">
                    <div class="d-none d-lg-block "> {{ request.user.username }} </div>
                </button>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'create_article' %}"> Создать статью</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile' %}"> Мой аккаунт</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"> Выход</a></li>
                </ul>
            </div> <!-- выпадающее меню-->
            {% else %} <!-- ссылки на регистрацию и аутентификацию-->
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'registration' %}" {% if request.resolver_match.view_name  == 'registration' %} class="link-active" aria-current="page" {% endif %}>
                    <div class="d-none d-lg-block"><i class="fa fa-paw"></i> Регистрация</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" {% if request.resolver_match.view_name  == 'login' %}
                    class="link-active" aria-current="page" {% endif %}>
                    <div class="d-none d-lg-block">
                        <i class="ffa fa-paw {% if request.path  == '/users/login' %} link-active {% endif %}" ></i>
                         Вход</div>
                    </a>
                </li>
            </ul>
            {% endif %}
            <br >
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

        <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
        <input type="text" class="form-control border-0" placeholder="Поиск">
        <div class="input-group-append">
            <button class="input-group-text bg-primary text-dark border-0 px-3"><i class="fa fa-paw"></i></button>
        </div>
        </div>
    </div>
</aside>